<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0"><%= pageTitle %></h3>
  <a class="btn btn-primary" href="/products/create" role="button">
    <i class="bi-plus-lg"></i> Buat Baru
  </a>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Barang</th>
        <th scope="col">Harga</th>
        <th scope="col">Stok</th>
        <th scope="col">Supplier</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product, index) => { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td class="w-75"><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td class="w-25"><%= product.supplier.name %></td>
          <td>
            <div class="d-flex gap-2 text-nowrap">
              <a class="btn btn-success btn-sm" href="/products/<%= product.id %>" role="button">
                <i class="bi-eye-fill"></i> Lihat Detail
              </a>

              <a class="btn btn-primary btn-sm" href="/products/<%= product.id %>/edit" role="button">
                <i class="bi-pencil-fill"></i> Edit
              </a>

              <form method="post" action="/products/<%= product.id %>?_method=DELETE">
                <button class="btn btn-danger btn-sm" type="submit">
                  <i class="bi-trash-fill"></i> Hapus
                </button>
              </form>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>