<button type="button" onclick="history.back()" class="btn btn-light">
  <i class="bi-arrow-left"></i>
  Kembali
</button>

<h3 class="my-3"><%= pageTitle %></h3>

<div class="table-responsive mt-3">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Harga</th>
        <td><%= product.price %></td>
      </tr>
      <tr>
        <th scope="row">Stok</th>
        <td><%= product.stock %></td>
      </tr>
      <tr>
        <th scope="row">Supplier</th>
        <td><%= product.supplier.name %></td>
      </tr>
      <tr>
        <th scope="row">Data Dibuat</th>
        <td><%= product.createdAt %></td>
      </tr>
      <tr>
        <th scope="row">Data Diperbarui</th>
        <td><%= product.updatedAt %></td>
      </tr>
    </tbody>
  </table>
</div>
